#!/usr/bin/env perl
my $SMS_FROM          = '0269291029';
my $info_address      = 'info@theopencloset.net';
my $volunteer_address = 'volunteer@theopencloset.net';

{
    database => {
        dsn  => $ENV{OPENCLOSET_DATABASE_DSN}  || "dbi:mysql:opencloset:127.0.0.1",
        name => $ENV{OPENCLOSET_DATABASE_NAME} || 'opencloset',
        user => $ENV{OPENCLOSET_DATABASE_USER} || 'opencloset',
        pass => $ENV{OPENCLOSET_DATABASE_PASS} // 'opencloset',
        opts => {
            quote_char        => q{`},
            mysql_enable_utf8 => 1,
            on_connect_do     => 'SET NAMES utf8',
            RaiseError        => 1,
            AutoCommit        => 1,
        },
    },
    sms => {
        driver        => 'KR::APIStore',
        'KR::CoolSMS' => {
            _api_key    => $ENV{OPENCLOSET_COOLSMS_API_KEY}    || q{},
            _api_secret => $ENV{OPENCLOSET_COOLSMS_API_SECRET} || q{},
            _from       => $SMS_FROM,
        },
        'KR::APIStore' => {
            _id            => $ENV{OPENCLOSET_APISTORE_ID}            || q{},
            _api_store_key => $ENV{OPENCLOSET_APISTORE_API_STORE_KEY} || q{},
            _from          => $SMS_FROM,
        },
    },
    google_private_key          => 'google-private-key.json',
    google_calendar_id          => $volunteer_address,
    email_notify_from           => $volunteer_address,
    email_notify_to             => $info_address,
    email_notify_guestbook_from => $volunteer_address,
    email_notify_guestbook_to   => $volunteer_address,

    # Monday is 1 ~ Sunday is 7
    max_volunteers => {
        default => 4,  # 모든 경우에 사용됨(요일/시간대가 지정되어 있지 않다면 default를 사용)
        7       => {   # Sun
            14 => 2,    # 일요일 14시는 2명
        },
    },
    timezone => 'Asia/Seoul',
};
