.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.container-volunteers {
    margin-top: 2em;
    margin-bottom: 2em;
}
.label-reported {
    background-color: #428bca !important;
}
.label-approved {
    background-color: #87b87f !important;
}
.label-done {
    background-color: #abbac3 !important;
}
.label-canceled {
    background-color: #d15b47 !important;
}
.label-drop {
    background-color: #ffb752 !important;
}
.male {
    color: #428bca;
}
.female {
    color: #d15b47;
}
.opencloset-home {
    padding-bottom: 200px;
    background-color: #ffe109;
}
.btn-2x {
    font-size: 36px;
}
.panel-a {
    min-height: 450px;
    .btn-block {
        margin-top: 3em;
        &.btn-target-a {
            margin-top: 3.5em;
        }
    }
}
.dropzone .dz-preview .dz-image {
    width: 300px;
    height: 300px;
}

//
// vertical align
//
// https://stackoverflow.com/a/42926860
// https://www.codeply.com/go/3OTmCFGV5b
//
.display-flex-center {
    display:flex;
    align-items:center;
}
.transform-center-parent {
    position: relative;
    transform-style: preserve-3d;
}
.transform-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.display-inline-block {
    display:inline;
}
.display-inline-block > div {
    display:inline-block;
    float:none;
    vertical-align: middle;
}
.h-10  { height: 10vh; }
.h-20  { height: 20vh; }
.h-30  { height: 30vh; }
.h-40  { height: 40vh; }
.h-50  { height: 50vh; }
.h-60  { height: 60vh; }
.h-70  { height: 70vh; }
.h-80  { height: 80vh; }
.h-90  { height: 90vh; }
.h-100 { height: 100vh; }

//
// for closed message
//
.closed {
    font-size: 2em;
    word-break: keep-all;
}
